<!DOCTYPE html>
<html data-theme="forest">
  <head>
    <title><%= content_for(:title) || "Admin" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Admin">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <style>
      body {
              font-family: 'Inter', sans-serif;
          }
               ::-webkit-scrollbar {
        width: 8px;
              }
              ::-webkit-scrollbar-track {
        background: #121212;
              }
              ::-webkit-scrollbar-thumb {
        background: #dca54c;
        border-radius: 4px;
              }
              ::-webkit-scrollbar-thumb:hover {
        background: #b8863b;
              }
    </style>
  </head>
  <body class="bg-base-300 text-base-content antialiased">
    <%= render partial: "navbar" %>
    <main class="container mx-auto px-4 md:px-8 py-12">
      <%= yield %>
    </main>
    <%= render partial: "footer" %>
  </body>
</html>
